---
import Toolbar from "./toolbar.astro"
import Sidebar from "./sidebar.astro"
import Globe from "./globe.astro"
---

<div id="main-wrapper">
    <Toolbar />
    <Sidebar />
    <Globe />    
</div>

<style>
    wrapper {
        width: 100vw;
        height: 100vh;
    }
</style>
